<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>

	<%- include('partials/nav.ejs') %>

	<h1>HELLO WORLD</h1>


	<% books.forEach((book)=>{ %>
		<h2><%= book.title %></h2>
	<% }) %>



</body>

</html>